# vim: ft=sh

alias sudo='sudo '
alias ag='ag --ignore-case --literal --hidden'
alias df='df -h'
alias du='du -sh'
alias free='free -h'
alias grep='grep --color=auto'
alias ls='ls --color=auto --group-directories-first -h --literal'
alias la='ls -la'
alias mkdir='mkdir -pv'
alias tree='tree --dirsfirst -L 2'
alias untar='tar xfv '

alias ..='cd ..'
alias l='ls -la'
alias r='ranger'
alias v='vim'
alias c='clear'

alias rails='bundle exec rails'
alias rake='bundle exec rake'
alias rspec='bundle exec rspec'
alias sidekiq='bundle exec sidekiq'

alias gs='git status'
alias gc='git checkout'
alias gco='git commit'
