[submodule ".i3/bumblebee-status"]
	path = .i3/bumblebee-status
	url = https://github.com/tobi-wan-kenobi/bumblebee-status.git
[submodule ".nord-dircolors"]
	path = .nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
